name: check

on:
  schedule:
    - cron: '0 10 * * 2'

  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        version:
          - latest
          - nightly
          - pre-release
      fail-fast: false
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.version != 'latest' }}
    steps:
      - uses: actions/checkout@v4

      - name: install stable version on unix
        if: ${{ runner.os != 'Windows' }}
        run: |
          curl -fsSL https://cli.moonbitlang.com/install/unix.sh | bash -s ${{ matrix.version }}
          echo "$HOME/.moon/bin" >> $GITHUB_PATH

      - name: install stable version on windows
        if: ${{ runner.os == 'Windows' }}
        env: 
          MOONBIT_INSTALL_VERSION: ${{ matrix.version }}
        run: |
          Set-ExecutionPolicy RemoteSigned -Scope CurrentUser; irm https://cli.moonbitlang.com/install/powershell.ps1 | iex
          "C:\Users\runneradmin\.moon\bin" | Out-File -FilePath $env:GITHUB_PATH -Append
          
      - name: moon version
        run: |
          moon version --all

      - name: install module dependencies
        run: |
          moon update
          moon install

      - name: moon check
        run: moon check --deny-warn

      - name: moon info
        run: |
          moon info --target wasm,wasm-gc,js
          git diff --exit-code

      - name: format diff
        run: |
          moon fmt
          git diff --exit-code

      - name: Setup MSVC
        if: ${{ runner.os == 'Windows' }}
        uses: ilammy/msvc-dev-cmd@v1

      - name: Set ulimit on unix
        if: ${{ runner.os != 'Windows' }}
        run: |
          ulimit -s 8176

      - name: moon test
        run: |
          moon test --target all
          moon test --target all --release

      - name: moon test --doc
        run: |
          moon test --doc

  moon-json-format-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: check `moon.*.json` format
        shell: bash
        run: |
          _passed=0;
          for f in $(find . -type f -name "moon.*.json"); do
            if ! jq '.' $f > /dev/null; then
              echo $f;
              _passed=1;
            fi
          done
          (exit $_passed)

  check-typos:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: AutoCorrect
      uses: huacnlee/autocorrect-action@v2

    - name: typos-action
      uses: crate-ci/typos@v1.31.1
